<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ActorRepository">

  <select id="select" resultType="map">
    SELECT * FROM ACTOR WHERE ACTOR_ID = #{value}
  </select>

  <select id="selectAll" resultType="map">
    SELECT * FROM ACTOR
  </select>

  <delete id="delete" parameterType="int">
    DELETE FROM ACTOR WHERE ACTOR_ID = #{value}
  </delete>

</mapper>