<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ActorRepository">

  <select id="select" resultType="map">
        select c.first_name, c. last_name
        from film f, actor c
        where f.film_id in
        (
            select fa.film_id  from film_actor fa, actor a
            where a.last_name like '%${value}%' and a.actor_id = fa.actor_id
        )
  </select>

  <select id="selectAll" resultType="map">
    SELECT * FROM ACTOR
  </select>



</mapper>