<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FilmRepository">

   <select id="select" resultType="map">
    SELECT * FROM FILM WHERE title like CONCAT('%',#{VALUE },'%')
  </select>

   <select id="selectAll" resultType="map">
    SELECT * FROM FILM
  </select>

   <select id="selectByTitle" resultType="map">
        select * from film
        where title like '%${value}%'
  </select>

   <select id="selectByActor" resultType="map">
        select * from film
        where film_id in
        (
            select fa.film_id  from film_actor fa, actor a
            where a.last_name like '%${value}%' and a.actor_id = fa.actor_id
        )
  </select>


</mapper>